# Supabase Project URL (Found in Project Settings -> API)
SUPABASE_URL=https://db.onckrzyrgwrsarwrehrh.supabase.co

# Supabase Anonymous Key (Found in Project Settings -> API)
SUPABASE_ANON_KEY=your-supabase-anon-key

# Direct PostgreSQL Connection URL
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.onckrzyrgwrsarwrehrh.supabase.co:5432/postgres
